.auth-bg {
	background-color: black;
	height: 100vh;
}

.texto {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.inputArea {
	height: 430px;
}

.btn-hover:hover {
	background-color: rgb(174, 8, 8);
}